@use '../../styles/partials/colors' as theme;
@use '../../styles/partials/fonts' as f;
@use '../../styles/partials/breakpoints' as bp;
@use '../../styles/partials/mixins' as *;

.hero {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  flex: auto;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/images/images/hero.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: saturate(1.2);
    z-index: -2;
    // opacity: 90%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -2;
    width: 100vw;
    // height: 100%;
    padding: auto;
    margin: auto;
    max-width: 110rem;
  }

  &__top-box {
    background-color: rgba(255, 255, 255, 0.6);
    width: 75%;
    padding: 2rem;
  }

  &__title {
    @include f.subheader('Titillium Web');
    text-align: center;
    margin: 0 0 1rem 0;
    color: theme.$gw-black;
    // color: theme.$gw-white;
    // text-shadow: 0px 0px 10px theme.$gw-black;
  }

  &__subtitle {
    @include f.body-xlarge('Titillium Web');
    text-align: center;
    margin: 0;
    // color: theme.$gw-slate;
    text-decoration: none;
    // padding: 2rem;
    transition: all 0.25s ease-in-out;
  }

  &__bottom-box {
    display: flex;
    width: 100%;
  }
}
