@use "../../styles/partials/colors" as theme;
@use "../../styles/partials/fonts" as f;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as *;

.estimate__content-box {
  height: auto;
}

.landing {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  &__title {
    @include f.subheader("Titillium Web");
    text-align: center;
    margin: 0 0 2rem 0;
    color: theme.$gw-slate;
  }

  &__middle-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    border-top: 1px solid theme.$gw-light-grey;
    padding-bottom: 2rem;

    &:hover {
      .landing__subtitle {
        color: theme.$gw-black;
      }
      .landing__image {
        filter: saturate(1.1);
        transform: scale(1.1);
      }
    }
  }

  &__subtitle {
    @include f.table-header("Titillium Web");
    text-align: center;
    margin: 0;
    color: theme.$gw-slate;
    text-decoration: none;
    padding: 2rem;
    transition: all 0.25s ease-in-out;
  }

  &__image {
    width: 70%;
    margin-top: auto;
    filter: saturate(0.4);
    transition: all 0.25s ease-in-out;
  }

  &__bottom-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid theme.$gw-light-grey;
  }

  &__button {
    height: 4rem;
    margin-top: 2rem;
    width: 26rem;
    @include f.body-large("Titillium Web");
    font-weight: 600;
    color: theme.$gw-white;
    text-decoration: none;
    text-align: center;
    padding: 0.4rem 1.2rem;
    border-radius: 2.5rem;
    cursor: pointer;
    border: 2px solid theme.$gw-slate;
    background-color: theme.$gw-slate;
    transition: all 0.25s ease-in-out;

    &--light {
      border: 2px solid theme.$gw-cloud;
      background-color: theme.$gw-cloud;
    }

    &:hover {
      border: 2px solid theme.$gw-graphite;
      background-color: theme.$gw-graphite;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    }

    &:active {
      border-color: theme.$gw-black;
      background-color: theme.$gw-black;
      color: theme.$gw-white;
    }
  }
}

.span--dark {
  color: theme.$gw-black;
}

@include bp.tablet {
  .landing {
    &__middle-box {
      flex-direction: row;
    }

    &__image-container {
      width: 31%;
      border-top: 0;
    }

    &__image {
      width: 100%;
    }

    &__bottom-box {
      flex-direction: row;
      align-items: center;
      border-top: 0;
    }
  }
}
