@use "../../styles/partials/colors" as theme;
@use "../../styles/partials/fonts" as f;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100vw;
  background-color: theme.$gw-white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: relative;

  &__link {
    text-decoration: none;
    text-align: center;
    margin: 1.5rem 0;
    transition: all 0.25s ease-in-out;
    width: 15rem;
    height: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: theme.$gw-yellow;
    }

    &:hover .header__button-text {
      color: theme.$gw-black;
    }

    &.active {
      background-color: theme.$gw-green;

      & .header__button-text {
        color: theme.$gw-black;
      }

      & .span {
        color: theme.$gw-black;
      }
    }
  }

  &__menu-icon {
    height: 4rem;
    filter: invert(50%);
    transition: all 0.25s ease-in-out;

    &-container {
      position: absolute;
      height: 5rem;
      width: 5rem;
      top: 3.5rem;
      right: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out;
      border-radius: 50%;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: theme.$gw-yellow;
      }

      &:active {
        background-color: theme.$gw-green;
      }

      &:hover .header__menu-icon {
        filter: invert(0%);
      }
    }
  }

  &__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 8rem;
    display: block;
    transition: all 0.25s ease-in-out;
    margin: 2rem;

    &:hover {
      transform: scale(1.05);
    }

    &-container {
      margin: 0;
    }
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 1rem;
    background-color: rgba(245, 245, 245, 0.95);
    position: absolute;
    top: 12rem;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;

    &--hidden {
      height: 0;
    }
  }

  &__buttons-subcontainer {
    display: flex;
    flex-direction: row;
    transition: all 0.25s ease-in-out;

    &--hidden {
      display: none;
    }
  }

  &__button-spacer {
    width: 6vw;
    max-width: 5rem;
    transition: all 0.25s ease-in-out;
  }

  &__button-text {
    @include f.labels-links-buttons("Titillium Web");
    margin: -1.5rem 0.5rem 0;
    color: theme.$gw-slate;
    transition: all 0.25s ease-in-out;
    display: flex;
    justify-content: space-between;

    &--active {
      color: theme.$gw-black;
    }
  }
}

@include bp.tablet {
  .header {
    display: flex;
    justify-content: center;

    &__main-container {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 110rem;
      display: flex;
      flex-direction: column;
    }

    &__buttons-container {
      justify-content: flex-end;
      flex-direction: row;
      justify-content: center;
    }

    &__link {
      width: auto;
      margin: 2rem 0;
    }

    &__button-spacer {
      width: 5rem;
      transition: all 0.25s ease-in-out;
    }
  }
}

@include bp.desktop {
  .header {
    &__main-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__buttons-container {
      position: relative;
      top: 0;
      box-shadow: 0 0 0 rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      justify-content: flex-end;

      &--hidden {
        height: auto;
        display: flex;
      }
    }

    &__buttons-subcontainer {
      &--hidden {
        display: flex;
        position: relative;
        top: 0.5rem;
      }
    }

    &__menu-icon-container {
      display: none;
    }
  }
}
