@use "../../styles/partials/colors" as theme;
@use "../../styles/partials/fonts" as f;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as *;

.about {
  &__container {
    width: 80vw;
    min-height: 70rem;
    margin: 8rem auto;
    padding: 1rem 3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    flex: auto;
  }

  &__link {
    text-decoration: none;
    @include f.body-large("Titillium Web");
    color: black;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
    margin: 0.5rem;
  }

  &__image {
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  &__tech-stack {
    width: 100%;
    max-width: 40rem;
  }

  &__text {
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;

    &--bold {
      font-weight: 600;
    }

    &:hover {
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
  }

  &__description {
    font-size: 1.6rem;
    text-align: center;
    max-width: 80rem;
  }

  &__bottom-box {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
}

@include bp.desktop {
  .about {
    &__container {
      height: 85vh;
    }
  }
}
