// Site colours

// Primary colours
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #fff;

// Secondary colours
$slate: #5c667e;
$cloud: #bdc5d5;

//Background colours
$graphite: #232940;
$light-grey: #f7f8f9;

// Supporting colours
$green: #158463;
$red: #c94515;
