// Site colours

// Primary colours
$gw-black: #13182c;
$gw-green: #00ff00;
$gw-yellow: #ffff00;
$gw-white: #fff;

// Secondary colours
$gw-slate: #5c667e;
$gw-cloud: #bdc5d5;

//Background colours
$gw-graphite: #232940;
$gw-light-grey: #f7f8f9;

// Supporting colours
$gw-red: #c94515;
