// Site colours

// Primary colours
$gw-black: #13182c;
$gw-green: #00ff00;
$gw-green50: rgba(0, 255, 0, 0.2);
$gw-yellow: #ffff00;
$gw-yellow50: rgba(255, 255, 0, 0.1);
$gw-white: #fff;

// Secondary colours
$gw-graphite: #4e4e4e;
$gw-slate: #808080;
$gw-cloud: #adadad;
$gw-smoke: #f7f7f7;

//Background colours
$gw-light-grey: #ececec;

// Supporting colours
$gw-red: #c94515;
