@use '../../styles/partials/colors' as theme;
@use '../../styles/partials/fonts' as f;
@use '../../styles/partials/breakpoints' as bp;
@use '../../styles/partials/mixins' as *;

.el-container {
  display: flex;
  padding: 2rem;
  height: 100%;
}

.span {
  font-weight: 600;
  color: theme.$gw-green;

  &--bold {
    font-weight: 600;
  }

  &--number {
    font-weight: 600;
    font-size: 2rem;
  }
}

.el-input {
  width: 35%;
  border-right: 2px solid theme.$gw-light-grey;
  padding: 0 2rem 0 0;
  @include f.body-large('Titillium Web');

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-label {
      @include f.table-header('Titillium Web');
    }

    &-question {
      margin: 0;
    }

    &-select {
      height: 4rem;
      width: 100%;
      margin: 1.2rem 0;
      @include f.body-large('Titillium Web');
      color: theme.$gw-black;
      padding: 0 1.4rem;
      border-radius: 2rem;
      border: 2px solid theme.$gw-light-grey;
      background-color: rgba(0, 0, 0, 0.03);
      background: url(../../assets/images/icons/arrow_drop_down-24px.svg)
        no-repeat right;
      -webkit-appearance: none;
      background-position: 98%;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      }

      &:focus {
        border: 2px solid theme.$gw-green;
        outline: 0;
      }
    }

    &-radio {
      -webkit-appearance: none;
      appearance: none;
      display: none;

      &:checked + label {
        background-color: theme.$gw-cloud;
        border-color: theme.$gw-cloud;
        // color: theme.$gw-white;
        font-weight: 600;
      }
    }

    &-home-box {
      display: flex;
      justify-content: space-between;
    }

    &-home-type {
      width: 47%;
      // height: 4rem;
      margin: 1.2rem 0;
      text-align: center;
      border-radius: 2rem;
      border: 2px solid theme.$gw-light-grey;
      padding: 0.3rem;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      }
    }

    &-image-box {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: theme.$gw-white;
      border-radius: 1rem 1rem 1.5rem 1.5rem;
      //   margin-top: 0.5rem;
      padding: 0.2rem 0.5rem;
    }

    &-home-image {
      width: 60%;
      margin: 1rem;
      filter: contrast(2);
      opacity: 70%;
    }

    &-bedrooms-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-bedrooms {
      width: 47%;
      // height: 4rem;
      margin: 2rem 0 0 0;
      text-align: center;
      border-radius: 2rem;
      border: 2px solid theme.$gw-light-grey;
      padding: 0.3rem;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      }
    }

    &-button {
      width: 100%;
      height: 4rem;
      @include f.body-large('Titillium Web');
      font-weight: 600;
      color: theme.$gw-white;
      padding: 0.3rem;
      border-radius: 2rem;
      cursor: pointer;
      border: 2px solid theme.$gw-slate;
      background-color: theme.$gw-slate;
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      }

      &:active {
        border-color: theme.$gw-black;
        background-color: theme.$gw-black;
        color: theme.$gw-white;
      }
    }
  }
}

.el-output {
  width: 65%;
  padding-left: 2rem;
  display: flex;
  justify-content: center;

  &__info-icon {
    font-family: courier;
    font-weight: 900;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: theme.$gw-yellow;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 0.2rem 0 0 0.1rem;
  }

  &__content {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-title {
      @include f.table-header('Titillium Web');
      margin: 0 0 2rem 0;
      text-align: center;
    }

    &-text {
      width: 100%;
      border: 2px solid theme.$gw-yellow;
      background-color: theme.$gw-yellow50;
      @include f.body-large('Titillium Web');
      margin: 2rem 0 2rem 0;
      padding: 1rem 6rem;
      text-align: center;
      position: relative;
    }

    &-button-box {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &-button {
      height: 4rem;
      @include f.body-large('Titillium Web');
      font-weight: 600;
      color: theme.$gw-white;
      padding: 0.3rem 2.5rem;
      border-radius: 2rem;
      cursor: pointer;
      border: 2px solid theme.$gw-slate;
      background-color: theme.$gw-slate;
      transition: all 0.25s ease-in-out;

      &:active {
        border-color: theme.$gw-black;
        background-color: theme.$gw-black;
        color: theme.$gw-white;
      }

      &:hover {
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      }

      &--next {
        border: 2px solid theme.$gw-graphite;
        background-color: theme.$gw-graphite;

        &:hover {
          color: theme.$gw-green;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__intro {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &-title {
      @include f.subheader('Titillium Web');
      text-align: center;
      margin: 0 0 2rem 0;
      color: theme.$gw-slate;
    }

    &-image {
      width: 75%;
      filter: grayscale(30%);
      margin: 1rem 0 10rem 0;
    }

    &-logo {
      width: 20%;
      align-self: flex-end;
      position: absolute;
      bottom: 0;
    }
  }
}
