@use '../../styles/partials/colors' as theme;
@use '../../styles/partials/fonts' as f;
@use '../../styles/partials/breakpoints' as bp;
@use '../../styles/partials/mixins' as *;

.footer {
  position: relative;

  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/images/images/water-image.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    filter: saturate(1.2);
  }

  &__main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__link {
    text-decoration: none;
  }

  &__right-box {
    display: flex;
    align-items: center;
  }

  &__text-box {
    padding: 0 0 0 5rem;
    vertical-align: middle;
  }

  &__anchor {
    text-decoration: none;
  }

  &__text {
    position: relative;
    @include f.body-large('Titillium Web');
    color: theme.$gw-slate;
    font-weight: 400;
    margin: 0;
    vertical-align: middle;
    transition: all 0.25s ease-in-out;

    &:hover {
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }

  &__icon {
    height: 3rem;
    transition: all 0.25s ease-in-out;

    &--light {
      filter: brightness(1.15);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@include bp.tablet {
  .footer {
    &__main-container {
      max-width: 110rem;
      width: 100%;
    }
  }
}
