@use '../../styles/partials/colors' as theme;
@use '../../styles/partials/fonts' as f;
@use '../../styles/partials/breakpoints' as bp;
@use '../../styles/partials/mixins' as *;

.re-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.re-top-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5rem 0 3rem 0;

  &__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
    padding-bottom: 1.5rem;
  }

  &__right {
    width: 45%;
    height: 32rem;
  }
}

.re-title {
  @include f.subheader('Titillium Web');
  margin: 0;

  &--bottom {
    margin: 4rem 0 0 0;
    text-align: center;
  }
}

.re-text {
  @include f.body-large('Titillium Web');
  margin: 3rem 0 0 0;
}

.re-summary {
  &__text {
    width: 100%;
    border: 2px solid theme.$gw-yellow;
    background-color: theme.$gw-yellow50;
    @include f.body-large('Titillium Web');
    margin: 0 0 3rem 0;
    padding: 1rem 4rem;
    text-align: center;
    position: relative;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30.5rem;
    width: 100%;
    border: 2px solid theme.$gw-yellow;
    background-color: theme.$gw-yellow50;
    padding: 3rem 3.5rem;
    position: relative;

    &-text {
      @include f.body-xlarge('Titillium Web');
      font-weight: 600;
      margin: 0;
    }

    &-icon {
      width: 14rem;
      align-self: flex-end;
      margin-bottom: 5rem;
    }

    &-image {
      width: 12rem;
      position: absolute;
      bottom: 3rem;
    }
  }

  &__info-icon {
    font-family: courier;
    font-weight: 900;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: theme.$gw-yellow;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 0.2rem 0 0 0.1rem;
  }
}

.span--green-bkgrd {
  background-color: theme.$gw-green;
  padding: 0 1rem;
  border-radius: 1.5rem;
}

.re-content {
  &__button-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3rem 0 0 0;

    &--top {
      display: flex;
      flex-direction: column;
    }

    &--bottom {
      flex-wrap: wrap;
      height: 14rem;
      margin-bottom: 4rem;
      justify-content: space-between;
    }

    &--compensate {
      padding: 0 6rem;
    }
  }

  &__button {
    height: 4rem;
    @include f.body-large('Titillium Web');
    font-weight: 600;
    color: theme.$gw-white;
    padding: 0.3rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid theme.$gw-slate;
    background-color: theme.$gw-slate;
    transition: all 0.25s ease-in-out;
    text-align: center;
    margin: 1rem 0;

    &:active {
      border-color: theme.$gw-black;
      background-color: theme.$gw-black;
      color: theme.$gw-white;
    }

    &:hover {
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      border: 2px solid theme.$gw-graphite;
      background-color: theme.$gw-graphite;
    }

    &--next {
      border: 2px solid theme.$gw-graphite;
      background-color: theme.$gw-graphite;

      &:hover {
        color: theme.$gw-green;
      }
    }
  }

  &__link {
    text-decoration: none;

    &--half-width {
      width: 48%;
    }
  }
}

.re-article {
  width: 100%;
  display: flex;
  justify-content: center;

  &__check {
    display: none;
    width: 100%;

    &:checked + label {
      background-color: theme.$gw-green50;
      border: 2px solid theme.$gw-green;
      font-weight: 600;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    margin: 2rem 0;
    background-color: theme.$gw-light-grey;
    border: 2px solid theme.$gw-light-grey;
    border-radius: 2rem;
    transition: all 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 2px solid theme.$gw-green;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__number-box {
    display: flex;
    border-right: 1px solid theme.$gw-cloud;
    align-items: center;
  }

  &__number {
    @include f.subheader('Titillium Web');
    background-color: theme.$gw-smoke;
    border: 1px solid theme.$gw-cloud;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: 0.3rem;
    border-radius: 50%;
    margin: 0 3rem 0 0;
  }

  &__main-box {
    display: flex;
    margin-left: 3rem;
    width: 100%;
  }

  &__title {
    @include f.table-header('Titillium Web');
    margin: 0 auto 0 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__savings {
    @include f.body-large('Titillium Web');
    background-color: theme.$gw-smoke;
    border: 1px solid theme.$gw-cloud;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 0 2rem 0 0;
    text-align: center;
  }

  &__reduction {
    @include f.body-large('Titillium Web');
    background-color: theme.$gw-smoke;
    border: 1px solid theme.$gw-cloud;
    width: 18rem;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 0;
    text-align: center;
  }
}
