@use "../../styles/partials/colors" as theme;
@use "../../styles/partials/fonts" as f;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as *;

.account {
  &__profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60rem;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__estimates {
    @include f.body-large("Titillium Web");
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    max-width: 50rem;
    border: 2px solid theme.$gw-yellow;
    background-color: theme.$gw-yellow50;
    padding: 1.2rem 2rem;
    position: relative;

    &-box {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 100%;
    }

    &-key {
      margin: 0;
    }

    &-value {
      font-weight: 600;
      margin: 0;

      &--large {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0.5rem;
      }
    }
  }

  &__text {
    &--large {
      @include f.table-header("Titillium Web");
      margin: 0 0 2rem 0;
    }

    &--small {
      @include f.body-small("Titillium Web");
      color: theme.$gw-slate;
      margin-top: 1rem;
    }
  }

  &__planet-icon {
    width: 10rem;
    align-self: flex-end;
  }
}

.profile__button {
  height: 4rem;
  width: 50%;
  @include f.body-large("Titillium Web");
  font-weight: 600;
  color: theme.$gw-white;
  padding: 0.3rem 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid theme.$gw-slate;
  background-color: theme.$gw-slate;
  margin: 1rem 0;
  transition: all 0.25s ease-in-out;
  text-decoration: none;

  &--light {
    border: 2px solid theme.$gw-light-grey;
    background-color: theme.$gw-light-grey;
    color: theme.$gw-black;
    font-weight: 400;
  }
}
