@use "../../styles/partials/colors" as theme;
@use "../../styles/partials/fonts" as f;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as *;

.estimate {
  &__main-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    max-width: 110rem;
    align-items: center;
  }

  &__content-box {
    width: 90%;
    padding: 2rem;
    border: 1px solid theme.$gw-white;
    border-top: 0;
    background-color: theme.$gw-smoke;
  }

  &__content {
    width: 100%;
    height: 100%;
    min-height: 72rem;
    background-color: theme.$gw-white;
    justify-content: space-between;
  }
}

@include bp.tablet {
  .estimate {
    &__content-box {
      min-height: 76rem;
    }
  }
}

@include bp.desktop {
  .estimate {
    &__main-box {
      width: 100%;
      height: 76rem;
      display: flex;
      flex-direction: row;
      margin: 4rem auto;
      max-width: 110rem;
    }

    &__content-box {
      width: 90%;
      padding: 2rem;
      border: 1px solid theme.$gw-white;
      border-left: 0;
      background-color: theme.$gw-smoke;
    }

    &__content {
      width: 100%;
      height: 100%;
      background-color: theme.$gw-white;
    }
  }
}
